<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avez Qureshi Blog</title>
    <link rel="stylesheet" href="static/css/blog.css">
    <link rel="stylesheet" href="static/css/blogMobile.css">
    <link rel="stylesheet" href="static/css/style.css">
       <!--=============== BOXICONS ===============-->
       <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

       <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
   
   </head>
   
   <body>
    <div class=" none space">

    </div>
    <div class=" none space">


    <!-- Header Start -->
    <header>
        <nav>
            <ul>
                <li> <a href="/">Home</li></a>
             
                <li> <a href="/shop">Shop</li></a>
                <li> <a href="/blog">Blog</li></a>
                <li> <a href="/contact">Contact</li></a>
            </ul>
        </nav>
        <div class=" none logo">
          <a href="/"> <img src="static/images/images-removebg-preview.png" alt="" srcset=""></a> 
        </div>
        <div class=" none rightNav">
            <ul>
                 <li> <a href="/checkout"><i class='bx bx-cart-add'></i></li></a> 
                <li> <a href="/login"><i class='bx bxs-user-account'></i></li></a> 
            </ul>
        </div>
    </header>
    <!-- Header End -->

        <div class=" none cards_container">
            <div class=" none cards">
                <div class=" none card">
                    <div class=" none card_content">
                        <div class=" none time">22 April 2022</div>
                        <div class=" none topic">Best React Animation</div>
                        <div class=" none author">Javascript Mastery</div>
                    </div>
                </div>
                <div class=" none card">
                    <div class=" none card_content">
                        <div class=" none time">22 April 2022</div>
                        <div class=" none topic">Best React Animation</div>
                        <div class=" none author">Javascript Mastery</div>
                    </div>
                </div>
                <div class=" none card">
                    <div class=" none card_content">
                        <div class=" none time">22 April 2022</div>
                        <div class=" none topic">Best React Animation</div>
                        <div class=" none author">Javascript Mastery</div>
                    </div>
                </div>
                <div class=" none card">
                    <div class=" none card_content">
                        <div class=" none time">22 April 2022</div>
                        <div class=" none topic">Best React Animation</div>
                        <div class=" none author">Javascript Mastery</div>
                    </div>
                </div>
                <div class=" none card">
                    <div class=" none card_content">
                        <div class=" none time">22 April 2022</div>
                        <div class=" none topic">Best React Animation</div>
                        <div class=" none author">Javascript Mastery</div>
                    </div>
                </div>
            </div>
        </div>

        <div class=" none articles_space">
            <div class=" none article_container">
                 <div class=" none art_cards">
                     <div class=" none art_card">
                         <div class=" none image">
                             <img src="static/images/th5.jpg" alt="">
                         </div>
                         <div class=" none content">
                             <div class=" none art_title" style="margin-top: 1rem;margin-bottom: 1rem;"> <h2> Best React Techniques</h2></div>
                       
                             <div class=" none art_words" style="margin-top: 1rem;margin-bottom: 2rem;">
                              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic rem facilis eius assumenda debitis quas aut facere consequuntur, dolores, amet, nisi alias molestiae sint quo.</p>
                             </div>
                             <a href="/article" class=" none art_btn" style="margin-top: 2rem;margin-bottom: 5px;" >Continue Reading</a>
                         </div>
                     </div>
                     <div class=" none art_card">
                         <div class=" none image">
                             <img src="static/images/th5.jpg" alt="">
                         </div>
                         <div class=" none content">
                             <div class=" none art_title" style="margin-top: 1rem;margin-bottom: 1rem;"> <h2> Best React Techniques</h2></div>
                           
                             <div class=" none art_words" style="margin-top: 1rem;margin-bottom: 2rem;">
                              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic rem facilis eius assumenda debitis quas aut facere consequuntur, dolores, amet, nisi alias molestiae sint quo.</p>
                             </div>
                             <a href="#" class=" none art_btn" style="margin-top: 2rem;margin-bottom: 5px;" >Continue Reading</a>
                         </div>
                     </div>
                 </div>
            </div>
            <div class=" none sidebar_container">
                <div class=" none blog_Category">
                    <div class=" none heading"><h3>Category</h3></div>

                    <div class=" none category">
                        <ul>
                            <li>Gaming</li>
                            <li>Coding</li>
                            <li>IIT</li>
                            <li>Sports</li>
                        </ul>
                    </div>

                </div>
                   <div class=" none blog_Recent">
                       <div class=" none heading"><h3>Recent Posts</h3></div>
                    <div class=" none recent_Content_Container">

                        <div class=" none recent_image">
                            <img src="static/images/th5.jpg" alt="">
                        </div>
                        <div class=" none recent_content">
                            
                            <div class=" none time">
                                22 April 2022
                            </div>
                            <div class=" none topic">
                                Best React Animation
                            </div>
                        </div>
                    </div>
                    <div class=" none recent_Content_Container">

                        <div class=" none recent_image">
                            <img src="static/images/th5.jpg" alt="">
                        </div>
                        <div class=" none recent_content">
                            
                            <div class=" none time">
                                22 April 2022
                            </div>
                            <div class=" none topic">
                                Best React Animation
                            </div>
                        </div>
                    </div>
                    <div class=" none recent_Content_Container">

                        <div class=" none recent_image">
                            <img src="static/images/th5.jpg" alt="">
                        </div>
                        <div class=" none recent_content">
                            
                            <div class=" none time">
                                22 April 2022
                            </div>
                            <div class=" none topic">
                                Best React Animation
                            </div>
                        </div>
                    </div>
                    <div class=" none recent_Content_Container">

                        <div class=" none recent_image">
                            <img src="static/images/th5.jpg" alt="">
                        </div>
                        <div class=" none recent_content">
                            
                            <div class=" none time">
                                22 April 2022
                            </div>
                            <div class=" none topic">
                                Best React Animation
                            </div>
                        </div>
                    </div>
    
                    </div>
                  
            </div>
        </div>
        
    </div>
    <div class=" none space">
    
    </div>
</body>
</html>