<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="static/css/contact.css">
    <link rel="stylesheet" href="static/css/style.css">
         <!--=============== BOXICONS ===============-->
         <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

         <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li> <a href="/">Home</li></a>
             
                <li> <a href="/shop">Shop</li></a>
                <li> <a href="/blog">Blog</li></a>
                <li> <a href="/contact">Contact</li></a>
            </ul>
        </nav>
        <div class=" none logo">
            <a href="/"> <img src="static/images/images-removebg-preview.png" alt="" srcset=""></a> 

        </div>
        <div class=" none rightNav">
            <ul>
                 <li> <a href="/checkout"><i class='bx bx-cart-add'></i></li></a> 
                <li> <a href="/login"><i class='bx bxs-user-account'></i></li></a> 
            </ul>
        </div>
    </header>
    <!-- Header End -->
    <section id="contact" class=" none contact">
        <div class=" none contact_line"></div>
        <div class=" none overlay"></div>
        <div class=" none content" data-aos="fade">
            <h2>Contact Us</h2>
            <p>Feel free to contact me</p>
        </div>
        <div class=" none container" data-aos="fade-up">
            <!--container-->
            <div class=" none contactInfo">
                <!--contactInfo-->
                <!-- #1 -->
                <div class=" none box">
                    <!--box-1-->
                    <div class=" none icon"> <i class='bx bx-location-plus' ></i></div>
                    <div class=" none text">
                        <!--text-1-->
                        <h3>Address</h3>
                        <p>
                            Kondhwa Pune, Maharashtra 411048
                            India.</p>
                    </div>
                    <!--text-1-->
                </div>
                <!--box-1-->
                <!-- #2 -->
                <div class=" none box">
                    <!--box-2-->
                    <div class=" none icon"><i class='bx bx-phone'></i></div>
                    <div class=" none text">
                        <!--text-2-->
                        <h3>Phone</h3>
                        <p>+91 XXXXXXXX</p>
                    </div>
                    <!--text-2-->
                </div>
                <!--box-2-->
                <!-- #3 -->
                <div class=" none box">
                    <!--box-3-->
                    <div class=" none icon"><i class='bx bx-envelope' ></i></div>
                    <div class=" none text">
                        <!--text-3-->
                        <h3>Email</h3>
                        <p>xxxxxxx14@gmail.com</p>
                    </div>
                    <!--text-3-->
                </div>
                <!--box-3-->

            </div>
            <!--contactInfo-->

            <div class=" none contactForm">
                <!--contactForm-->
                <form action="https://formspree.io/f/mjvlvobj" method="POST" autocomplete="off">
                    <h2>Send Message</h2>
                    <div class=" none inputBox">
                        <!--inputBox1-->
                        <input type="text" name="" required="required">
                        <span>Full Name</span>
                    </div>
                    <!--inputBox1-->

                    <div class=" none inputBox">
                        <!--inputBox2-->
                        <input type="text" name="_replyto" required="required">
                        <span>Email</span>
                    </div>
                    <!--inputBox2-->

                    <div class=" none inputBox">
                        <!--inputBox3-->
                        <textarea name="message" required="required"></textarea>
                        <span>Type your Message...</span>
                    </div>
                    <!--inputBox3-->

                    <div class=" none inputBox">
                        <!--inputBox4-->
                        <input type="submit" value="send">
                    </div>
                    <!--inputBox4-->
                </form>
            </div>
            <!--contactForm-->
        </div>
        <!--container-->

    </section>
        <!-- Footer Starts -->
        <footer>
            <div class=" none scontainer grid">
              <div class=" none box">
                <div class=" none logo">
                  <img src="static/images/images-removebg-preview.png" alt="">
                </div>
                <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <h1>+ 123 456 7898</h1>
                <small>Email : gorkcoder@gmail.com</small>
              </div>
        
              <div class=" none box">
                <h3>Customer Services</h3>
                <div class=" none flex1">
                  <ul>
                    <li>Help</li>
                    <li>Contact Us</li>
                    <li>Warranty</li>
                    <li>Terms & Conditions</li>
                    <li>Shopping information</li>
                    <li>Gift Vocher</li>
                  </ul>
                  <ul>
                    <li>My Account</li>
                    <li>Arder Status </li>
                    <li>Payment</li>
                    <li>Oders </li>
                    <li>Cancellation </li>
                  </ul>
                </div>
              </div>
        
              <div class=" none box">
                <h3>Let's stay in touch</h3>
                <div class=" none input flex1">
                  <input type="email" placeholder="Email Address">
                  <i class=" none far fa-long-arrow-right"></i>
                </div>
                <p>Get Update on sales specials and more</p>
                <div class=" none social_media">
                    <i class=" none bx bxl-facebook"></i>
                    <i class=" none bx bxl-instagram"></i>
                    <i class=" none bx bxl-twitter"></i>
                    <i class=" none bx bxl-linkedin"></i>
                    <i class=" none bx bxl-twitch"></i>
                </div>
              </div>
            </div>
          </footer>
        
        <!-- Footer Ends -->
</body>
</html>